:root {
    --background-color: #dddddd;
    --text-color: #000000;
    --card-color: #aaaaaa;
    --button-color: #333333;
    --button-text: #ffffff;
    --selected-color: #999999;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 0.9rem;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 675px;
    height: 100%;
    margin: 0;
}

h1 {
    font-size: 4rem;
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

/*Move between pages*/
#prevPage, #nextPage {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.arrow {
    font-size: 11em;
}

/*necessary evil*/
.card-filter-container {
    display: flex;
    align-items: flex-start;
}

/*cards*/

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    grid-template-rows: repeat(3, auto); /* 3 rows */
    gap: 10px;
    justify-items: center;
    width: 100%;
}

.card {
    box-sizing: border-box;
    background: var(--card-color);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    width: 160px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}


/*buttons*/
.buttonLayOut {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.buttonLayOut button {
    margin-top: 30px;
    padding: 5px 5px;
    border: none;
    border-radius: 10px;
    background-color: var(--button-color);
    color: var(--button-text);
    font-size: 1.3rem;
}

.buttonLayOut button.active {
    background-color: var(--selected-color);
    color: var(--text-color);
    transition: background-color 0.3s ease;
}


.buttonIcon {
    font-size: 1.5em;
    padding: 15px;
}

#cartButton {
    grid-column: span 3;
    justify-self: center;
    padding: 10px 15px;
    margin-top: 30px;
    background-color: var(--button-color);
    color: var(--button-text);
    font-size: 1.2rem;
}

/*shopping cart*/
.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cart-subtext {
    font-size: 1.5rem;
    color: #666;
    font-style: italic;
    margin-top: 5px;
}




